body {
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header-contents {
  display: flex;
  justify-content: flex-end;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #71C684;
  height: 100px;
  .title {
    margin-right: auto;
    padding-top: 27px;
    padding-left: 27px;
    font-size: 35px;
    color: white;
    a {
      text-decoration: none;
    }
  }
  nav {
    padding-top: 37px;
    padding-right: 30px;
    font-size: 20px;
    color: white;
    a {
      text-decoration: none;
    }
  }
}

#contents {
  width: 70%;
  height: 100%;
  margin: auto;

  .page-title {
    margin-bottom: 0;
    margin-top: 45px;
  }
  .add-button {
    display: block;
    margin-left: auto;
    text-decoration: none;
    background: #71C684;
    font-size: 40px;
    color: #FFF;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    text-align: center;
    line-height: 83px;
  }
}
#login-form {
  display: flex;
  justify-content: center;
  padding-top: 150px;

  .username {
    width: 380px;
    background-color: #E5E5E5;
    height: 50px;
    margin-bottom: 50px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    font-size: 150%;
  }
  .username::-webkit-input-placeholder {
    font-size: 20px;
  }
  .password {
    width: 380px;
    background-color: #E5E5E5;
    height: 50px;
    margin-bottom: 50px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    font-size: 150%;
  }
  .password::-webkit-input-placeholder {
    font-size: 20px;
  }
  .login-button {
    background: #71C684;
    color: white;
    font-size: 25px;
    width: 380px;
    height: 60px;
    letter-spacing: 7px;
  }
}

.sorts {
  width: 40%;
  margin-left: auto;
  span {
    a {
      font-size: 25px;
      margin-right: 10px;
    }
  }
}

.reviews {
  ul {
    list-style: none;
    width: 80%;
  }
  .review {
    display: flex;
    margin-bottom: 20px;
    width: 140%;

    .buttons {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: 20px;
      button {
        background: #71C684;
        font-size: 14px;
        color: white;
        height: 50px;
        width: 100px;
        margin-left: 5px;
      }
    }

    .contents {
      width: 75%;
      display: flex;
      background: white;

      img {
        padding: 5px;
        height: 120px;
        width: 95px;
      }

      .right-content {
        position: relative;
        width: 85%;
        .title {
          padding-left: 15px;
          padding-top: 10px;
          font-size: 16px;
        }
        .sub-contents {
          position: absolute;
          right: 0;
          bottom: 20px;
          width: 53%;
          margin-left: auto;
          .watched-at {
            padding-right: 40px;
          }
        }
      }  
    }
  }
}

.search-form {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 30px;
  margin-left: 40px;
  margin-top: 100px;
  form {
    height: 100%;
    width: 50%;
    input {
      height: 100%;
      width: 100%;
      vertical-align: middle;
      font-size: 150%;
    }
  }
  img {
    height: 80%;
    width: 30px;
    padding-top: 5px;
    padding-right: 5px;
  }
}

.movies {
  display: flex;
  justify-content: center;
  width: 25%;
  margin-top: 30px;
  padding-left: 22%;

  ul {
    list-style: none;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .movie {
    margin-bottom: 10px;
    width: 230%;
    background: white;
    margin-right: auto;
    margin-left: auto;
    a {
      text-decoration: none;
      color: inherit;
      .contents {
        display: flex;
        img {
          padding: 5px;
          height: 120px;
          width: 95px;
        }
        .right-content {
          position: relative;
          width: 85%;
          .title {
            padding-top: 20px;
            padding-left: 10px;
          }
          .sub-content {
            position: absolute;
            right: 30px;
            bottom: 20px;
            width: 200px;
            margin-left: auto;
          }
        }
      }
    }
  }
}
