body {
  padding: 0;
  margin: 0;
  background-color: #E5E5E5;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header-contents {
  display: flex;
  justify-content: flex-end;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #71C684;
  height: 100px;
  .title {
    margin-right: auto;
    padding-top: 27px;
    padding-left: 27px;
    font-size: 35px;
    color: white;
    a {
      text-decoration: none;
    }
  }
  nav {
    padding-top: 37px;
    padding-right: 30px;
    font-size: 20px;
    color: white;
    a {
      text-decoration: none;
    }
  }
}
#contents {
  width: 70%;
  height: 100%;
  margin: auto;
}
#login-form {
  display: flex;
  justify-content: center;
  padding-top: 150px;

  .username {
    width: 380px;
    background-color: #E5E5E5;
    height: 50px;
    margin-bottom: 50px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    font-size: 150%;
  }
  .username::-webkit-input-placeholder {
    font-size: 20px;
  }
  .password {
    width: 380px;
    background-color: #E5E5E5;
    height: 50px;
    margin-bottom: 50px;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: 1px solid black;
    font-size: 150%;
  }
  .password::-webkit-input-placeholder {
    font-size: 20px;
  }
  .login-button {
    background: #71C684;
    color: white;
    font-size: 25px;
    width: 380px;
    height: 60px;
    letter-spacing: 7px;
  }
}